@import "./modules-scss/variables";
@import './modules-scss/header';
@import "./modules-scss/main";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:$font-size;
    @media screen and (min-width: 1024px){
        font-size: $font-size-desktop;
    }
}
html{
    font-family: $font;
}
body{
    background: #2f3640;
}
