#container{
    margin: 3rem auto;
    width: 80%;
    max-width: 450px;
    min-width: 280px;
    border: 2px solid #f7f1e3;
    color: #f7f1e3;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px hsla(42, 56%, 93%, 0.2);
    @import "./modules-scss/header";
    @import "./modules-scss/calculator";
    @import "./modules-scss/footer";
}